@import 'mixins'
@import 'variables'




#labels-section
	max-width: 800px
	overflow-y: scroll
	position: relative
	clearfix()
	margin: 0 auto

	h3
		margin-top: 25px
	ul
		margin-top: 25px
		float: left
		width: 60%
		height: 100%
		li
			padding-left: 25px
			display: block

			form.label
				display: block
				height: auto
				clearfix()
				input
					padding: 7px 0px
					&:nth-child(3)
						margin-left: 10px

				.active-label-btns
					clearfix()
					margin-right: 10px
					button
						display: inline-block
						margin: 10px 10px
						float: right
						background-color: gray
						border-radius: 0px
						min-width: 100px
						color: white
						padding 7px
						border: 3px dashed gray

						&:hover
							background-color: white
							color: gray

	>button
		position: absolute
		right: 25px
		background-color: gray
		border-radius: 0px
		min-width: 200px
		border: 3px dashed gray

		&:hover
			background-color: white
			color: gray
