@import yeticss
gray = #333


.container
  margin: 0px
  width: 100%

nav.top-nav
  background-color: gray
  border-bottom: 3px dashed white
  margin-bottom: 0px

  li
    background-color: gray
    color: white
    border: 3px dashed gray
    &:hover
      border: 3px dashed white
    a
      color: white
      padding-right: 10px

li
  list-style: none !important
.label
  height: 40px

  .label-color
    width: 24px
    height: 24px
    border: 1px solid grey
    border-radius: 25px
    display: inline-block

  > span
    margin-left: 10px
    margin-right: 10px;

span.octicon
  &.octicon-x:hover
    cursor: pointer
    color: red
  &.octicon-pencil:hover{
    cursor: pointer
    color: gold
  }

