@import yeticss
@import 'variables'

.container
  margin: 0px
  width: 100%


header
  padding-top: 50px

li
  list-style: none !important

.label
  height: 40px

  .label-color
    width: 24px
    height: 24px
    border: 1px solid grey
    border-radius: 25px
    display: inline-block

  > span
    margin-left: 10px
    margin-right: 10px;

span.octicon
  &.octicon-x:hover
    cursor: pointer
    color: red
  &.octicon-pencil:hover
    cursor: pointer
    color: gold


