@import 'variables'

nav.top-nav
  background-color: gray
  border-bottom: 3px dashed white
  margin-bottom: 0px

  li
    background-color: gray
    color: white
    border: 3px dashed gray
    &:hover
      border: 3px dashed white
    a
      color: white
      padding-right: 10px
