gray = #333


body
	transition: all 0.5s ease-out
	&.hover-active
		background-color: gray

		.public-container
			h1
				color:white
				border-bottom: 3px dashed white
			p
				color: white
				border-bottom: white
				.white
					color: white



.public-container
	position: absolute
	top: 25%
	left: 50%
	transform: translate(-50%, -50%)
	-webkit-transform: translate(-50%, -50%)
	-moz-transform: translate(-50%, -50%)
	-ms-transform: translate(-50%, -50%)

	header
		margin-bottom: 10px

	h1, p
		display: inline
		color: gray
		border-bottom: 3px dashed white;
		transition: color 0.5s ease-in
	  	transition: border-color 0.5s ease-in 1s

	p
		border-bottom: 0px
		.white
			color: transparent
			transition-delay: 2s

	.login-button
		position: relative
		display block
		width: 300px
		height: 60px
		background-color: gray
		&:hover
			cursor:pointer

		.login-button-text
			color: white
			position: absolute
			top: 50%
			left: 50%
			min-width: 300px
			text-align: center
			font-size: 22px
			transform: translate(-50%, -50%)

		.shape
			fill: transparent

	.button
		background-color: gray
		color: white
		display: block
		margin-top: 50px
		max-width: 300px
		border: 3px dashed gray
		&:hover
			color: #333
			border: 3px dashed white
			color: white
			background-color: gray

		transition: all 0.5s ease-out
	    -webkit-transition: all 0.5s ease-out
	    -moz-transition: all 0.5s ease-out
	    -ms-transition: all 0.5s ease-out
