@import yeticss
gray = #333


body
	transition: all 0.5s ease-out
	-webkit-transition: all 0.5s ease-out
	-moz-transition: all 0.5s ease-out
	-ms-transition: all 0.5s ease-out

	&.hover-active
		background-color: gray

		.public-container

			h1, p
				color:white
				border-bottom: 3px dashed white



.public-container
	position: absolute
	top: 25%
	left: 50%
	transform: translate(-50%, -50%)
	-webkit-transform: translate(-50%, -50%)
	-moz-transform: translate(-50%, -50%)
	-ms-transform: translate(-50%, -50%)

	h1, p
		display: inline
		color: gray
		padding-bottom: 5px;
		line-height: 50px
		border-bottom: 3px dashed white;
		transition: color 0.5s ease-in
	    -webkit-transition: color 0.5s ease-in
	    -moz-transition: color 0.5s ease-in
	    -ms-transition: color 0.5s ease-in
	    transition: border-color 1s ease-in
	    -webkit-transition: border-color 1s ease-in
	    -moz-transition: border-color 1s ease-in
	    -ms-transition: border-color 1s ease-in


	.button
		background-color: gray
		color: white
		display: block
		margin-top: 25px
		max-width: 300px
		border: 3px dashed gray
		&:hover
			color: #333
			border: 3px dashed white
			color: white
			background-color: gray
			
		transition: all 0.5s ease-out
	    -webkit-transition: all 0.5s ease-out
	    -moz-transition: all 0.5s ease-out
	    -ms-transition: all 0.5s ease-out
