@import "variables"
@import "mixins"

body
	transition: all 0.5s ease-out
	&.hover-active
		background-color: gray

		.public-container
			h1
				color:white
				line
					stroke-width: 5px
					stroke: white
					stroke-dasharray: 10 10
					stroke-dashoffset: -20px

			p
				color: white
				border-bottom: white
				.white
					color: white


.public-container
	position: absolute
	top: 25%
	left: 50%
	transform: translate(-50%, -50%)
	-webkit-transform: translate(-50%, -50%)
	-moz-transform: translate(-50%, -50%)
	-ms-transform: translate(-50%, -50%)

	header
		margin-bottom: 10px

	h1, p
		display: inline
		color: gray
		transition: color 0.5s ease-in
	  	transition: border-color 0.5s ease-in 1s
	h1
		position: relative
		font-size: 120px
		svg
			position: absolute
			bottom:40px
			left: 15px

			line
				stroke-width: 5px
				stroke: gray
				stroke-dasharray: 10 10
				stroke-dashoffset: 10px
				transition: stroke-width 1s, stroke-dashoffset 1s, stroke-dasharray 1s ease-out;


	p
		border-bottom: 0px
		.white
			color: transparent
			transition-delay: 2s

	.login-button
		position: relative
		display block
		width: 300px
		height: 60px
		margin-top: 50px
		background-color: transparent
		&:hover
			cursor:pointer

			.shape
				stroke-width: 5px
				stroke-dashoffset: 0
				stroke-dasharray: 10 10


		.login-button-text
			color: white
			position: absolute
			background-color: gray
			top: 50%
			left: 50%
			line-height: 57px
			height: (100% - 7)
			width: calc(100% - 5px)
			text-align: center
			font-size: 22px
			transform: translate(-50%, -50%)

		.shape
			fill: transparent
			stroke-dasharray: 10 10
			stroke-dashoffset: 100
			stroke-width: 5px
			stroke: white
			transition: stroke-width 1s, stroke-dashoffset 1s, stroke-dasharray 1s ease-out;


	.button
		background-color: gray
		color: white
		display: block
		margin-top: 50px
		max-width: 300px
		border: 3px dashed gray
		&:hover
			color: #333
			border: 3px dashed white
			color: white
			background-color: gray

		transition: all 0.5s ease-out
	    -webkit-transition: all 0.5s ease-out
	    -moz-transition: all 0.5s ease-out
	    -ms-transition: all 0.5s ease-out
