@import 'mixins'
@import 'variables'



#readme-section
  height: 100%

.readme-content
  clearfix()
  height: 100%

  .markup-readme, .html-readme
    padding: 25px
    float: left
    width: 50%
    height: 100%
    overflow-y: scroll

