@import "variables"


.repos-listing
  background-color: gray

  .repos-listing-content
    width: 100%
    max-width: 800px
    padding: 25px
    margin: 0 auto

    h2
      color: white

    li
      &:hover
        .octicon
          color: white

      .octicon
        color: gray

      a
        border-bottom: 3px dashed gray
        color: white
        &:hover
          border-color: white