@import "variables"

.repo-detail
  margin: 0 auto
  margin-top: 100px
  height: 100%
  position: fixed
  width: 100%

  >h1
    padding-left: 40px



#tabs
  position: relative
  width: 100%
  overflow: hidden
  font-weight: 300

  nav
    ul
      display: inline-block
      margin-bottom: 0px
      li
        position: relative
        display: block
        margin-right: 10px
        padding: 8px 15px 5px 15px
        border: 3px dashed gray
        border-bottom: none
        float: left
        min-width: 100px
        min-height: 30px
        text-align: center

        &:hover, &.active
          cursor: pointer
          border-top: 3px dashed gray
          padding-top: 8px

        &.active
          &:before, &:after
            content: ''
            position: absolute
            height: 6px
            border-bottom:3px dashed gray
            bottom: -3px

            right: 100%
            width: 4000px
          &:after
            right: auto
            left: 100%
            width: 4000px
        a
          color: gray


.content
  height: calc(100%)