@import "variables"

.repo-detail
  margin: 0 auto
  max-width: 1200px
  margin-top: 100px
  padding: 25px
  height: 100%
  position: fixed



#tabs
  position: relative
  width: 100%
  overflow: hidden
  font-weight: 300

  nav
    ul
      display: inline-block
      margin-bottom: 0px
      li
        position: relative
        display: block
        margin-right: 10px
        padding: 8px 15px 5px 15px
        border: 1px solid gray
        border-bottom: none
        float: left
        min-width: 100px
        min-height: 30px
        text-align: center

        &:hover
          cursor: pointer
          border-top: 3px solid gray
          padding-top: 6px

.content
  height: calc(100%)