@import "variables"


.repos-listing


  .repos-listing-content
    width: 100%
    max-width: 800px
    padding: 25px
    margin: 0 auto

    h2
      color: gray

    ul
      padding-left: 0px

    li
      float:left
      border: 1px solid gray
      width: 30%
      margin: 1%
      min-height: 200px
      &:hover
        .octicon
          color: gray

      .octicon
        color: gray

      a
        color: gray
        display: block

